#formWrap {
		width: 700px;
		margin: 0 auto;
		color: rgb(20, 236, 229)(85, 85, 85);
		line-height: 120%;
		font-size: 90%;
	}

	table.formTable {

		width: 100%;
		margin: 0 auto;
		border-collapse: collapse;
	}

	table.formTable td,
	table.formTable th {
		border: 1px solid #ccc;
		padding: 10px;
	}

	table.formTable th {
		width: 30%;
		font-weight: normal;
		background: #efefef;
		text-align: left;
	}

	@media screen and (max-width:572px) {
		#formWrap {
			width: 95%;
			margin: 0 auto;
		}

		table.formTable th,
		table.formTable td {
			width: auto;
			display: block;
		}

		table.formTable th {
			margin-top: 5px;
			border-bottom: 0;
		}

		input[type="text"],
		textarea {
			width: 80%;
			padding: 5px;
			font-size: 110%;
			display: block;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"] {
			display: block;
			width: 100%;
			height: 40px;
		}
	}

.relative{
	width:10%;
	float:left;
	height: 150px;
}

.content{
	width:80%;
	float:right;
	padding: 0.5em 1em;
    margin: 1em 0;
    background: #F4F4F4;
    border-left: solid 6px #5BB7AE;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.company-title{
	font-size:20px;
}

.v_line_fix {

  float:left;
  margin-left: 10px;
  margin-right: 10px;
  width: 5px;
  height: 1000px;
  background-color:#BBBCC1;
}

@media screen and (max-width: 768px){
	
.carousel {height:10px;}


.v_line_fix{display:none}
.relative{
display:none
}
.content{
	width:100%;
	float:right;
	padding: 0.5em 1em;
    margin: 1em 0;
    background: #F4F4F4;
    border-left: solid 6px #5BB7AE;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
}

.card{
	width:25%;
	float:left;
	padding: 0.5em 1em;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}


@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }

.gorun {
font-family: monospace;
width: 13ch;
border-right: .08em solid;
overflow: hidden;
font-size: 5em;
white-space: nowrap;
animation: typing 3s steps(12, end), caret .5s step-end infinite;
}

.modal_wrap input{
    display: none;
}

.modal_overlay{
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}

.modal_trigger{
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_content{
    align-self: center;
    width: 60%;
    max-width: 800px;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: scale(0.3);
    transition: 0.5s;
}

.close_button{
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content{
    transform: scale(1);
}

.open_button{

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: auto;
    padding: 8px 16px;
    color: #444;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    border-radius: 16px;
    cursor: pointer;
}