#formWrap {
		width: 700px;
		margin: 0 auto;
		color: rgb(20, 236, 229)(85, 85, 85);
		line-height: 120%;
		font-size: 90%;
	}

	table.formTable {

		width: 100%;
		margin: 0 auto;
		border-collapse: collapse;
	}

	table.formTable td,
	table.formTable th {
		border: 1px solid #ccc;
		padding: 10px;
	}

	table.formTable th {
		width: 30%;
		font-weight: normal;
		background: #efefef;
		text-align: left;
	}

	@media screen and (max-width:572px) {
		#formWrap {
			width: 95%;
			margin: 0 auto;
		}

		table.formTable th,
		table.formTable td {
			width: auto;
			display: block;
		}

		table.formTable th {
			margin-top: 5px;
			border-bottom: 0;
		}

		input[type="text"],
		textarea {
			width: 80%;
			padding: 5px;
			font-size: 110%;
			display: block;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"] {
			display: block;
			width: 100%;
			height: 40px;
		}
	}

.relative{
	width:10%;
	float:left;
	height: 150px;
}

.content{
	width:80%;
	float:right;
	padding: 0.5em 1em;
    margin: 1em 0;
    background: #F4F4F4;
    border-left: solid 6px #5BB7AE;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.company-title{
	font-size:20px;
}

.v_line_fix {

  float:left;
  margin-left: 10px;
  margin-right: 10px;
  width: 5px;
  height: 1000px;
  background-color:#BBBCC1;
}

@media screen and (max-width: 768px){
	
.carousel {height:10px;}


.v_line_fix{display:none}
.relative{
display:none
}
.content{
	width:100%;
	float:right;
	padding: 0.5em 1em;
    margin: 1em 0;
    background: #F4F4F4;
    border-left: solid 6px #5BB7AE;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
}

.card{
	width:25%;
	float:left;
	padding: 0.5em 1em;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}